<article class="article col-md-4 col-sm-6 col-xs-12">
    <div class="article-content">
        <div>
            <p><strong>ID:</strong> ${_id}</p>
            <p><strong>Title:</strong> ${title}</p>
            <p><strong>Description:</strong> ${description}</p>
            <p><strong>Body:</strong> ${body}</p>
            <p><strong>Owner:</strong> ${owner}</p>
        </div>
        <form onsubmit="return false;">
            <input ${config.disabled} class="form-control" type="text" name="title" value="${title}" placeholder="Title" />
            <input ${config.disabled} class="form-control" type="text" name="description" value="${description}" placeholder="Description" />
            <input ${config.disabled} class="form-control" type="text" name="body" value="${body}" placeholder="Body" />
            <input ${config.disabled} class="form-control" type="text" name="owner" value="${owner}" placeholder="Owner" />
            <button ${config.disabled} class="btn btn-success save">Save</button>
            <button ${config.disabled} class="btn btn-warning reset">Reset</button>
            <button ${config.disabled} class="btn btn-danger delete">Delete</button>
        </form>
    </div>
</article>